name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version:
          - 29.4
          - 30.1
    steps:
      - uses: actions/checkout@v4

      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - uses: emacs-eldev/setup-eldev@v1

      - run: eldev byte-compile --warnings-as-errors

      - run: eldev test

      - run: eldev lint
